<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/aop
          http://www.springframework.org/schema/aop/spring-aop.xsd">



    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!-- 配置数据源 -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${db.driverClassName}" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
    </bean>

    <!--  配置hibernate SessionFactory-->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hiberante.format_sql">true</prop>
                <prop key="current_session_context_class" >thread</prop>
            </props>
        </property>

        <property name="annotatedClasses">
            <list>
                <value>com.mcp.myself.model.Book</value>
            </list>
        </property>
    </bean>

    <!-- 注解扫描的包 -->
    <context:annotation-config/>
    <context:component-scan base-package="com.mcp.myself" />

    <!-- 事务管理器 -->
      <bean id="transactionManager"
             class="org.springframework.orm.hibernate4.HibernateTransactionManager">
           <property name="sessionFactory" ref="sessionFactory"></property>
       </bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="create*" propagation="REQUIRED"/>
            <tx:method name="insert*" propagation="REQUIRED"/>
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>

    <aop:config proxy-target-class="true">
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.mcp.myself.dao..*.*(..))" />
    </aop:config>


    <!--  aop注解 -->
    <aop:aspectj-autoproxy/>


    <!--线程池 -->
    <!--corePoolSize： 线程池维护线程的最少数量-->
    <!--keepAliveSeconds  线程池维护线程所允许的空闲时间-->
    <!--maxPoolSize   线程池维护线程的最大数量-->
    <!--queueCapacity 线程池所使用的缓冲队列-->
    <bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="queueCapacity" value="5" />
    </bean>


    <!--业务对象-->
    <bean id="expireJobTask" class="com.mcp.myself.task.ExpireJobTask" />

    <!--调度业务 -->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="expireJobTask" />
        <property name="targetMethod" value="execute" />
    </bean>

    <!--调度触发器 两种方式-->

    <!--从10秒开始，每1分钟执行一次-->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="jobDetail" />
        <property name="cronExpression" value="10 0/1 * * * ?" />
    </bean>

    <!--<bean id="taskTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">-->
        <!--<property name="jobDetail" ref="jobDetail" />-->
        <!--<property name="startDelay" value="10000" />-->
        <!--<property name="repeatInterval" value="60000" />-->
    <!--</bean>-->

    <!-- 添加调度 -->
    <!--<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
        <!--<property name="triggers">-->
            <!--<list>-->
                <!--<ref bean="cronTrigger" />-->
            <!--</list>-->
        <!--</property>-->
        <!--<property name="taskExecutor" ref="executor" />-->
    <!--</bean>-->

    </beans>